.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 30px;
   
}
.product-container{
    width: 980px;
    margin-left: 50px;
    margin-top: 50px;
}
.cart-container{
    border: 1px solid black;
    width: 500px;
    background-color: #FFFFFF;
  
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:45px;
}
.cart-item{
    margin-left: 40px;
    margin-bottom: 20px;
}
/* media Queary */
@media screen and (max-width: 480px) {
    body{
        width: 400px;
    }
    .shop-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .product-container{
        grid-template-columns: repeat(1, 1fr);
        width: 480px;
        margin-left: 0px;
    }
    .cart-container{
        width: 300px;
    }
    .cart-item{
        margin-left: 0px;
        
    }
  }